body{
	background:#D0DED4;
}
.fila{
	border:5px solid#E8707B;
	height:470px;
}

.columna { border:5px solid#4A8C7A;  }

.seccion1 { height:460px; }

.columna1{
  border:5px solid#4A8C7A;
  height:460px;
}
.fila1{
	border:5px solid#E8707B;
	height:460px;
}
.columna2{
  border:5px solid#4A8C7A;
  height:150px;
}
.fila2{
	border:5px solid#E8707B;
	height:460px;
}
.columna3{
  border:5px solid#4A8C7A;
  height:300px;
}
.columna4{
  border:5px solid#4A8C7A;
  height:150px;
}